<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="icon" sizes="32x32" href="/user/logo.png">
    <!-- Ajouter les liens vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Ajouter les liens vers les fichiers CSS des icônes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<!-- Contenu de la page -->
<div class="container mt-4">
    <h1>Êtes-vous sûr de vouloir vous déconnecter ?</h1>
    <div class="alert alert-danger">
        <p>Appuyez sur "Oui" pour vous déconnecter ou sur "Non" pour revenir au tableau de bord.</p>
    </div>
    <a href="/user/logout/true" class="btn btn-primary">Oui</a>
    <a href="/produit/dashboard" class="btn btn-secondary">Non</a>
</div>

<!-- Ajouter les liens vers les fichiers JavaScript de Bootstrap et jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
