<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer le produit</title>
    <link rel="icon" sizes="32x32" href="/user/logo.png">
    <!-- Ajouter les liens vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Ajouter les liens vers les fichiers CSS des icônes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
<!-- Contenu de la page -->
<div class="container mt-4">
    <h1>Supprimer le produit</h1>
    <div class="alert alert-danger">
        <p>Êtes-vous sûr de vouloir supprimer ce produit ?</p>
        <ul>
            <li>Nom du produit : <span th:text="${produit.nom}"></span></li>
            <li>Description du produit : <span th:text="${produit.description}"></span></li>
            <li>Prix du produit : <span th:text="${produit.prix}"></span></li>
        </ul>
    </div>
    <form th:action="@{/produit/delete/{id}(id=${produit.id_produit})}" method="post">
        <div class="text-right">
            <a href="/produit/list" class="btn btn-secondary">Annuler</a>
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </div>
    </form>
</div>

<!-- Ajouter les liens vers les fichiers JavaScript de Bootstrap et jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
